process {
    withName: 'PROSEQ2' {
        cpus   = 4
        memory = '8.GB'
    }

    withName: 'DREG_RUN' {
        // TODO: actually detect how many GPUs are available
        maxForks = 1
    }
}

params {
    input = "dbnascent_samplesheet_mini.csv"
    fasta = "/home/yume/datasets/hg38/hg38.fa"

    fasta_indices = "/home/yume/datasets/hg38/hg38.fa.*"

    prep_bw = true

    hisat_indices = "/home/yume/datasets/hg38/hisat2/hg38/genome"

    bbmap_adapters = "/home/yume/datasets/bbmap/adapters.fa"


    singleEnd = true
    unStranded = true

    dreg_model = "/home/yume/datasets/asvm.gdm.6.6M.20170828.rdata"

}

executors {
    cpus = 16
    memory = "56 GB"
}