process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Load base.config by default for all pipelines
// includeConfig 'conf/base.config'

profiles {
    local {
        wave.enabled = true
        wave.strategy = ['dockerfile','container']
        docker.enabled = true
        includeConfig "conf/test.config"
        params.input = "https://raw.githubusercontent.com/nf-core/nascent/master/assets/samplesheet.csv"
    }
    zhanggpu2 {
        params {
            outdir ="results/"
        }
        docker.enabled = true
    }
    utd_ganymede {
        includeConfig "https://raw.githubusercontent.com/nf-core/configs/master/conf/utd_ganymede.config"
        conda.enabled          = true
        conda.useMamba         = true
        process {
            cpus = 16
            memory = 100.GB
            time = 16.h
        }
    }
}

docker.registry      = 'quay.io'
singularity.registry = 'quay.io'

plugins {
  id 'nf-validation'
}
