process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

profiles {
    local {
        wave.enabled = true
        wave.strategy = ['dockerfile','container']
        docker.enabled = true
        includeConfig "conf/test.config"
    }
    utd_ganymede {
        includeConfig "https://raw.githubusercontent.com/nf-core/configs/master/conf/utd_ganymede.config"
        singularity.registry = 'quay.io'
        singularity.ociAutoPull = true
    }
}

docker.registry      = 'quay.io'
singularity.registry = 'quay.io'
