process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Load base.config by default for all pipelines
// includeConfig 'conf/base.config'

profiles {
    local {
        wave.enabled = true
        // wave.strategy = ['dockerfile','container']
        docker.enabled = true
        includeConfig "conf/test.config"
        params.input = "https://raw.githubusercontent.com/nf-core/nascent/master/assets/samplesheet.csv"
        // From a nascent test run
        // params.bwa_index = "~/src/nf-core/nascent/work/96/746b04f1c048d94194b86ab0704d97/bwa"
    }
    zhanggpu2 {
        params {
            outdir ="results/"
        }
        docker.enabled = true
        wave.enabled = true
    }
    utd_ganymede {
        includeConfig "https://raw.githubusercontent.com/nf-core/configs/master/conf/utd_ganymede.config"
        wave.enabled = true
        process {
            cpus = 16
            memory = 28.GB
            time = 16.h
        }
    }
}

docker.registry      = 'quay.io'
singularity.registry = 'quay.io'

plugins {
  id 'nf-validation'
}
