params {
    bams = [ "https://raw.githubusercontent.com/Kraus-Lab/groHMM/master/inst/extdata/S0mR1.bam", "https://raw.githubusercontent.com/Kraus-Lab/groHMM/master/inst/extdata/S40mR1.bam" ]
    fasta = "https://hgdownload.soe.ucsc.edu/goldenPath/hg19/chromosomes/chr7.fa.gz"
    input = "${projectDir}/assets/test.csv"
    outdir ="results/"
}

process {
    cpus = 6
    memory = '16.GB'
    time = '1h'

}
